<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
    <tr>
      <td>2</td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
    <tr>
      <td>3</td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
  </tbody>
</table>
