<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/styles.css" />
    <title>Cadastro</title>
  </head>

  <body>
    <nav class="menu">
      <a href="/" class="menu_item">Home</a>
      <a href="/sobre" class="menu_item">Sobre</a>
      <a href="/cadastro" class="menu_item">Cadastro</a>
      <a href="/login" class="menu_item">Login</a>
    </nav>
    <section>
      Cadastro
      <a href="/">VOLTAR</a>
    </section>
    <%- include('footer'); %>
  </body>
</html>
