<style>
  footer {
    width: 100%;
    height: 90px;
    background-color: black;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer p {
    color: #fff;
    font-size: 2em;
    font-style: italic;
    letter-spacing: 1.5px;
  }
</style>

<footer><p>&copy; Direito reservado! 2025</p></footer>
