<nav class="menu">
  <a href="/" class="menu_item">Home</a>
  <a href="/sobre" class="menu_item">Sobre</a>
  <a href="/cadastro" class="menu_item">Cadastro</a>
  <a href="/login" class="menu_item">Login</a>
  <a href="/" class="menu_item">Página 1</a>
  <a href="/" class="menu_item">Página 2</a>
  <a href="/" class="menu_item">Página 3</a>
</nav>
