<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade Formulário</title>

    <!-- LINK PARA CSS EXTERNO -->
    <link rel="stylesheet" href="/static/styles/styles.css" />

    <!-- LINK PARA JS EXTERNO -->
    <!-- <script src="/static/scripts/validaCadastro.js" defer></script> -->
  </head>
  <body>
    <%- include("menu"); %>
    <section class="container">
      <div class="image_container">
        <h1>Sobre nossa empresa</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <div style="font-size: 32px"><%- include("usertable"); %></div>
    </section>
    <%- include("footer") %>
  </body>
</html>
