<!DOCTYPE html>
<html lang="pt_br">
  <%- include("../partials/head"); %>

  <body>
    <%- include('../partials/menu'); %>

    <section>
      Login
      <a href="/">VOLTAR</a>
    </section>

    <%- include('../partials/footer'); %>
  </body>
</html>
