<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body>
    <%- include('../partials/menu'); %>

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="sun"></span>
    </div>

    <section class="container">
      <div class="imagem_container">
        <h1>Bem-vindo</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <form id="cadastroForm" action="/login" method="post">
        <div class="title">
          <h1>Login</h1>
          <p>Preencha os campos abaixo e entre na nossa comunidade.</p>
        </div>

        <div class="input_data">
          <input type="text" id="nome" name="username" required />
          <label>Nome</label>
        </div>

        <div class="input_data">
          <input type="password" id="senha" name="password" required />
          <label>Senha</label>
        </div>

        <div class="btnArea">
          <p class="msgError"></p>
          <button id="btnSubmit" type="submit">Enviar</button>
        </div>
      </form>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
