<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body>
    <%- include("../partials/menu"); %>
    <section class="container">
      <div class="image_container">
        <h1>Sobre nossa empresa</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
