@font-face {
  font-family: "JoseFins";
  src: url("../fonts/JosefinSans.ttf");
}

@font-face {
  font-family: "Copperplate";
  src: url("../fonts/Copperplate.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #375534;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: transparent;
}

.cloud {
  position: absolute;
  width: 250px;
  height: 100px;
  background: url("../images/nuvem.png") center / cover no-repeat;
  filter: drop-shadow(2px 2px 10px #e3eed4);
}

.cloud:nth-child(1) {
  top: 2.5%;
  left: 5%;
}

.cloud:nth-child(2) {
  z-index: 3000;
  top: 2.5%;
  left: 24%;
}

.cloud:nth-child(3) {
  z-index: 3000;
  top: 9.5%;
  left: 5%;
}

.sun {
  position: absolute;
  background: url("../images/sol.png") center / cover no-repeat;
  filter: drop-shadow(2px 2px 10px #e3eed4);
  width: 100px;
  height: 100px;
  z-index: -1;
  top: 5%;
  left: 30%;
}

.rain {
  background-color: #e3eed4;
  height: 5px;
  width: 5px;
  border-radius: 0% 50% 50% 50%;
  transform: rotate(45deg);
  box-shadow: inset -25px 10px 0px -10px #fefefe;
  z-index: 500;
  position: absolute;
  top: 90px;

  transform-origin: bottom;
  animation: animate 2s linear infinite;
  z-index: 1000;
}

section {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #e3eed4;
  box-shadow: 2px -10px 35px #0f2a1d;
  border-radius: 30px;

  overflow: hidden;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  justify-items: center;
}

.imagem_container {
  width: 100%;
  height: 100%;
  background: url("../images/wallpaper8.jpg") center / cover no-repeat;
  border-radius: 0px 30px 30px 0px;
  overflow: hidden;
  padding-left: 10%;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagem_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.imagem_container h1,
.imagem_container p {
  position: relative;
  z-index: 2;
  color: #e3eed4;
}

.imagem_container h1 {
  font-family: "JoseFins";
  font-size: 50px;
}

.imagem_container p {
  font-family: "Copperplate";
  font-size: 13px;
}

#cadastroForm {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

#cadastroForm h1 {
  font-family: "JoseFins";
  width: 100%;
  color: #0f2a1d;
  text-align: center;
  font-size: 2em;
}

#cadastroForm p {
  font-family: "Copperplate";
  font-size: 11px;
  width: 100%;
  font-style: italic;
  color: #0f2a1d;
  text-align: center;
}

#cadastroForm .input_data {
  position: relative;
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  color: #0f2a1d;
}

#cadastroForm .input_data:nth-child(8) {
  width: 100%;
}

#cadastroForm .input_data input {
  position: relative;
  z-index: 2;
  font-family: "Copperplate";
  font-size: 11px;
  margin-top: 5px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  outline: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #0f2a1d;
  color: #0f2a1d;
}

#cadastroForm .input_data label {
  font-family: "Copperplate";
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  z-index: 1;
  color: #0f2a1d;
}

#cadastroForm .input_data input:focus + label,
#cadastroForm .input_data input:valid + label {
  top: -10%;
  left: 0px;
}

#cadastroForm .btnArea {
  width: 100%;
}

#cadastroForm .btnArea button {
  font-family: "Copperplate";
  border: 1px solid #0f2a1d;
  width: 100%;
  padding: 10px 20px;
  background-color: #0f2a1d;
  color: #e3eed4;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1.5px;
}

#cadastroForm .btnArea button:hover {
  background-color: transparent;
  border: 1px solid #0f2a1d;
  color: #0f2a1d;
}

#cadastroForm .btnArea .msgError {
  font-style: italic;
  color: #ff0000;
  margin-bottom: 10px;
  height: 25px;
}

@media (max-width: 1040px) {
  section {
    height: 90%;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }

  #cadastroForm {
    gap: 15px;
    width: 90%;
  }

  .imagem_container {
    text-align: left;
    padding-left: 0;
    align-items: center;
  }

  .imagem_container h1,
  .imagem_container p {
    width: 50%;
  }

  #cadastroForm .input_data input {
    height: 25px;
  }

  .cloud:nth-child(1) {
    top: 0;
    left: 0;
    z-index: 500;
  }

  .cloud:nth-child(2) {
    left: 20%;
  }

  .cloud:nth-child(3) {
    z-index: 3000;
    top: 6.5%;
    left: 0%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }

  70% {
    transform: translateY(80vh) scaleY(1);
    opacity: 1;
  }

  80% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translateY(80vh) scaleY(0.2);
  }
}
