@font-face {
  font-family: "JoseFins";
  src: url("/static/fonts/JosefinSans.ttf");
}

@font-face {
  font-family: "Copperplate";
  src: url("/static/fonts/Copperplate.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #375534;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  padding: 10px 15px;
  background-color: #0f2a1d;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  font-size: 3em;
  letter-spacing: 1.5px;
}

header nav a {
  color: #fff;
  font-size: 1.5em;
  margin-right: 16px;
}

header nav a:hover {
  color: #e3eed4;
}

footer {
  width: 100%;
  height: 90px;
  background-color: black;

  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 1.5px;
}

.container_rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background-color: transparent;
}

table {
  /* font-size: 24px; */
  width: 100vh;
}

tr,
td,
thead,
th,
tfoot {
  border: 1px solid black;
  border-bottom: 3px solid #34554c;
  background-color: #689b63;
  text-align: center;
  padding: 5px;
  overflow: auto;
}

th {
  background-color: rgba(80, 80, 68, 0.347);
  font-style: italic;
}

.cloud {
  position: absolute;
  width: 250px;
  height: 100px;
  background: url("/static/images/nuvem.png") center / cover no-repeat;
  filter: drop-shadow(2px 2px 20px #e3eed4);
}

.cloud:nth-child(1) {
  top: 2.5%;
  left: 5%;
}

.cloud:nth-child(2) {
  z-index: 3000;
  top: 2.5%;
  left: 24%;
}

.cloud:nth-child(3) {
  z-index: 3000;
  top: 9.5%;
  left: 5%;
}

.rain {
  background-color: #e3eed4;
  width: 5px;
  height: 5px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  box-shadow: inset -25px 10px 0px -10px #fefefe;
  z-index: 1000;
  position: absolute;
  top: 90px;

  transform-origin: bottom;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }

  60% {
    transform: translateY(80vh) scaleY(1);
    opacity: 1;
  }

  80% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0.5;
  }

  100% {
    transform: translateY(80vh) scaleY(0.2);
    opacity: 0;
  }
}

.container {
  width: 80%;
  height: 80%;
  background-color: #e3eed4;
  border-radius: 30px;
  box-shadow: 2px -10px 35px #0f2a1d;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;

  overflow: hidden;
}

.image_container {
  width: 100%;
  height: 100%;
  background: url("/static/images/wallpaper.jpg") center / cover no-repeat;
  border-radius: 0 30px 30px 0;

  padding-left: 10%;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.image_container h1,
.image_container p {
  position: relative;
  z-index: 2;
  color: #e3eed4;
}

.image_container h1 {
  font-family: "JoseFins";
  font-size: 50px;
}

.image_container p {
  font-family: "Copperplate";
  font-size: 13px;
}

#cadastroForm {
  width: 80%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

#cadastroForm h1,
#cadastroForm p {
  width: 100%;
  text-align: center;
}

#cadastroForm h1 {
  font-family: "JoseFins";
  font-size: 2em;
  color: #0f2a1d;
}

#cadastroForm p {
  font-family: "Copperplate";
  font-size: 11px;
  font-style: italic;
  color: #0f2a1d;
}

#cadastroForm .input_data {
  position: relative;
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  color: #0f2a1d;
}

#cadastroForm .input_data:nth-child(8) {
  width: 100%;
}

#cadastroForm .input_data input {
  position: relative;
  z-index: 2;
  font-family: "Copperplate";
  font-size: 11px;
  margin-top: 5px;
  height: 30px;

  padding: 5px 10px;

  border: none;
  outline: 0;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 1px solid #0f2a1d;
  color: #0f2a1d;
}

#cadastroForm .input_data label {
  font-family: "Copperplate";
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.5s ease;
  z-index: 1;
  color: #0f2a1d;
}

#cadastroForm .input_data input:focus+label,
#cadastroForm .input_data input:valid+label {
  top: -10%;
  left: 0;
}

#cadastroForm .btnArea {
  width: 100%;
}

#cadastroForm .btnArea .msgError {
  margin-bottom: 10px;
  height: 25px;
  color: #ff0000;
  font-style: italic;
}

#cadastroForm .btnArea button {
  font-family: "Copperplate";
  border: 1px solid #0f2a1d;
  width: 100%;
  padding: 10px 20px;
  background-color: #0f2a1d;
  color: #e3eed4;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1.5px;
}

#cadastroForm .btnArea button:hover {
  background-color: transparent;
  border: 1px solid #0f2a1d;
  color: #0f2a1d;
  transition: 0.7s;
}